<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

@{
    int cart = 0;
    if (ViewData["cart"] != null)
    {
        cart = (int)ViewData["cart"];
    }
}

<style>
    .hello {
        font-size: 150%;
    }

    .topbar {
        text-align: right;
        font-size: 110%;
    }
    
    .container {
        padding-top: 10px;
        height: 70px;
    }

    .float-parent-element {
        width: 100%
    }

    .float-child-element {
        float: left;
        width: 50%
    }
</style>




<body margin="10px">
    <div class="container">
        <main role="main" class="pb-3">

            @if (Context.Request.Cookies["username"] == null)
            {
                <div class="float-parent-element">
                    <div class="float-child-element">
                        <div class="hello">Hello, Guest</div>
                    </div>
                    <div class="float-child-element">
                        <div class="topbar">
                            <a class="@ViewData["Home"]" asp-area="" asp-controller="ProductGallery" asp-action="Index" style="text-decoration: underline">Home</a>
                            &nbsp;|&nbsp;
                            <a class="@ViewData["Login"]" asp-area="" asp-controller="Login" asp-action="Index" style="text-decoration: underline" id="hide">Login</a>
                            &nbsp;|&nbsp;
                            <div style="float: right"><a asp-area="" asp-controller="Cart" asp-action="Index">
                                <i class="fa fa-shopping-cart" style="font-size:30px"></i><input type="button" value="@cart" style="margin-left:12px"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

            }

            else
            {
                <div class="float-parent-element">
                    <div class="float-child-element">
                        <div class="hello" id="hellouser"> Hello, @Context.Request.Cookies["username"]</div>
                    </div>
                    <div class="float-child-element">
                        <div class="topbar">
                            <a class="@ViewData["Home"]" asp-area="" asp-controller="ProductGallery" asp-action="Index" style="text-decoration: underline;">Home</a>
                            &nbsp;|&nbsp;
                            <a class="@ViewData["My Purchases"]" asp-area="" asp-controller="MyPurchases" asp-action="Index" style="text-decoration: underline;">My Purchases</a>
                            &nbsp;|&nbsp;
                            <a class="@ViewData["Login"]" asp-area="" asp-controller="Logout" asp-action="Index" style="text-decoration: underline;">Logout</a>
                            &nbsp;|&nbsp;
                            <div style="float: right"><a asp-area="" asp-controller="Cart" asp-action="Index">
                                <i class="fa fa-shopping-cart" style="font-size:30px"></i><input type="button" value="@cart" style="margin-left:12px"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SA54 Team 7 ASP.NET Core CA
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
